main.main
	.container 
		.section-main 
			.section-main__inner
				.section-main__left 
					.section-main__title ЛЕТО С АЛОЭ
					.section-main__subtitle попробуй неземное и выиграй призы<br>с 15 мая по 15 сентября
					a.button(href="") Зарегистрировать код
				.section-main__right
					.logo
						img(src="./img/logo.svg" alt="")
					img(src="./img/top-img.png" alt="")
					.section-main__info ГЛАВНЫЙ ПРИЗ<br>iPhone 15 Pro Max
