.button {
  cursor: pointer;
  white-space: nowrap;
  border: none;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0rem 3rem;
  height: 5.4rem;
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
  @include tr;
  background: linear-gradient(0deg, #da2b15 0%, #fcc505 100%);
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    padding: 1.5rem;
    max-width: 100%;
  }
  &:disabled {
    background: #d3d3d3;
    pointer-events: none;
    color: #989898;
  }
  &:hover {
    background: linear-gradient(0deg, #da2b15 30%, #fcc505 100%);
    // background: linear-gradient(0deg, #fcc505 0%, #da2b15 100%);
    // opacity: 0.8;
  }

  &_full {
    width: 100%;
    max-width: 100%;
  }
}
